html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#cesiumContainer {
    width: 100%;
    height: 85%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}



/* Photo timeline */

#photoTimeline {
  background-color: black;
  width: 100%;
  height: 15%;
  margin: 0;
  padding: 0;
  /* overflow: scroll; */
  overflow-y: hidden;
  white-space: nowrap;
}

#photoTimeline img {
  margin: 0 1em 1em 0;
}



/* Custom infobox */

.cesium-infoBox.cesium-infoBox-bodyless {
  width: 40%;
  max-width: unset;
  height: auto;
  background-color: black;
  top: 20px;
  left: 20px;
  border: 0px;
  border-radius: 7px;
  resize: horizontal;
  overflow: hidden;
}

.cesium-infoBox-title {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px;
}

div.cesium-infoBox-description {
  width: 100%;
  text-align: center;
  color: white;
  position: relative;
}

div.cesium-infoBox-description > img {
  max-width: 100%;
  max-height: 100%;
  align-self: center;
}

div.cesium-infoBox-description table {
  width: 100%;
  height: auto;
  margin: 2px;
  align-self: center;
  color: white;
}

.btn-prev {
  left: 0px;
}

.btn-next {
  right: 0px;
}

.btn-prev, .btn-next {
  display: block;
  position: absolute;
  height: 100%;
  width: 15%;
  z-index: 2;
  font-size: 48px;
  font-weight: bolder;
  opacity: 0%;
  outline: none;
  border: none;
  border-radius: 7px;
}

.btn-prev:hover, .btn-next:hover {
  opacity: 50%;
}


